*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 200;
    
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/twice-1.webp);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.flex-container{
    display: flex;
}

.flex-container > div{
    margin: 25px 25px;
    float: left;
    color: white;
}

.memberPictures{
    /* background-color: aqua; */
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
}

#centeringContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 385px;
    background-color: #000;
}

.photoSizing{
    width: 255px;
    height: 380px;
    margin: 40px;
    flex: 25%;
    border-radius: 20%;
}

.centerNames{
    position: relative;
    z-index: 1;
    text-align: center;
    margin: -30% 25% 21% 25%;
    color: orange;
    background-color: black;
}


.memberPictures img{
    background-color: #000;
    opacity: .7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.memberPictures img:hover{
    z-index: -1;
    opacity: 1;
    transform: scale(1.03);
}

/* .memberPictures li{
    display: flex;
    flex-wrap: wrap;
    float: left;

} */

/* .memberphotos{
    width: 100%;
    list-style: none;
} */

.twiceInfo{
    background-color: purple;
    width: 60%;
}

.members{
    background-color: pink;
    width: 40%;
}

.achievements{
    background-color:teal;
    width: 25%;
}

.pastConcerts{
    background-color: sienna;
    width: 25%;
}

.albums{
    background-color: mediumaquamarine;
    width: 50%;
}

.Register{
    text-align: center;
    margin: 25px;
}

.signUpForm{
    background-color: antiquewhite;
    margin: 30px 20%;
}

.signUp{
    margin-top: 20px;
    font-weight: 300;
}


form{
    text-align: center;
    padding: 100px 100px;
}

form input{
    margin-top: 30px;
}

.messageContainer{
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: green;
    padding: 15px 50px;
}


label{
    color: rgb(0, 0, 0);
}

input[type= text]{
    width: 25%;
    height: 25px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}


/*input[type= button]:link,
input[type= button]:visited{
    background-color: #181818;
    border: 1px solid #ffffff;
    color: rgb(196, 40, 40);
}*/

input[type= button]:hover,
input[type= button]:active{
    background-color: #cccccc;
}


input[type= button]{
    height: 50px;
    width: 150px;
    font-size:xx-large;
    text-align: center;
    border-radius: 200px;
}