*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 200;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/twice-1.webp);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}

footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/Twice-3.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}

.secondSection{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Images/twice-2.webp);
    background-size: cover;
    background-position: center;
    height: 80vh;
    background-attachment: fixed;
}


h1{
    text-align: center;
    border-bottom: 2px solid #000;
}

.flex-container{
    display: flex;
}

.flex-container > div{
    margin: 25px 25px;
    float: left;
    color: white;
    box-shadow: 10px 10px 20px #618;
    border-radius: 2%;
}

.flex-container > div > p{
    margin: 25px 25px;
}

.memberPictures{
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#centeringContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
}

.photoSizing{
    width: 255px;
    height: 380px;
    margin: 40px;
    flex: 25%;
    border-radius: 20%;
}

.centerNames{
    position: relative;
    z-index: 1;
    text-align: center;
    margin: -30% 25% 21% 25%;
    color: orange;
    background-color: black;
}


.memberPictures img{
    background-color: #000;
    opacity: .7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.memberPictures img:hover{
    z-index: -1;
    opacity: 1;
    transform: scale(1.03);
}


td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

.twiceInfo{
    background-color: purple;
    width: 52%;
}

.members{
    background-color: pink;
    width: 44%;
}

.achievements{
    background-color:teal;
    width: 33%;
}

.pastConcerts{
    background-color: sienna;
    width: 26%;
}

.concertNames{
    font-size: 22px;
    margin: 30px;
}

.albums{
    background-color: mediumaquamarine;
    width: 29%;
}


.albumCovers{
    width: 551px;
    height: 530px;
}

.Register{
    text-align: center;
    margin: 25px;
}

.signUpFormParentContainer{
    display: flex;
    justify-content: center;
    height: 720px;
}

#signUpFormChildContainer{
    border-radius: 10%;
    background-repeat: no-repeat;
    margin: 30px 20%;
    background-image: linear-gradient(rgba(187, 70, 70, 0.7), rgba(0, 0, 0, 0.7)), url(Images/Twicegroup.jpg);
    flex-shrink: 0;
    width: 720px;
}

.signUp{
    margin-top: 20px;
    font-weight: 300;
}


form{
    text-align: center;
    padding: 100px 100px;
}

form input{
    margin-top: 30px;
}

.messageContainer{
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: green;
    padding: 15px 50px;
}


label{
    color: rgb(0, 0, 0);
}

.animate__animated animate__fadeInDown{
    animation-delay: 5s;
}

input[type= text]{
    width: 25%;
    height: 25px;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
}


/*input[type= button]:link,
input[type= button]:visited{
    background-color: #181818;
    border: 1px solid #ffffff;
    color: rgb(196, 40, 40);
}*/

input[type= button]:hover,
input[type= button]:active{
    background-color: #cccccc;
}


input[type= button]{
    height: 50px;
    width: 150px;
    font-size:xx-large;
    text-align: center;
    border-radius: 200px;
}


.twiceColorGradient {
    background: linear-gradient(90deg, #81d4fa, #aed581, #ffcdd2, #9fa8da, #ffb74d, #80cbc4, #ffffff, #ff1744, #0277bd);
    background-size: 1800% 1800%;

    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
       


/* #nayeonColor {
    background: linear-gradient(272deg, #81d4fa, #80caf1);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#jeongyeonColor {
    background: linear-gradient(272deg, #aed581, #bcd776);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#momoColor {
    background: linear-gradient(272deg, #ffcdd2, #f8cfd7);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#sanaColor {
    background: linear-gradient(272deg, #9fa8da, #9c9ecf);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#jihyoColor {
    background: linear-gradient(272deg, #ffb74d, #fac857);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#minaColor {
    background: linear-gradient(272deg, #80cbc4, #6fc5c2);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#dahyunColor {
background: linear-gradient(272deg, #ffffff, #e6e6e6);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#chaeyoungColor {
    background: linear-gradient(272deg, #ff1744, #e81933);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#tzuyuColor {
    background: linear-gradient(272deg, #0277bd, #016cba);
    background-size: 70% 70%;
    border-radius: 20%;

    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 5s ease infinite;
    animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
} */